$color-white: #fff;
$color-black: #000;

$color-gray-100: #f5f4f7;
$color-gray-200: #ece9ef;
$color-gray-300: #e2dee7;
$color-gray-400: #c5bdcf;
$color-gray-500: #8e839e;
$color-gray-600: #575060;
$color-gray-700: #3b3642;
$color-gray-800: #242127;
$color-gray-900: #0c0b0d;

$color-red-500: #e9512b;
$color-green-500: #43ad61;
$color-blue-500: #1282e9;

$color-blue-dark: #123c69;
$color-bisque: #fff5f1;
$color-bisque-dark: #faeae2;
$color-pink: #ac3b61;

@function color($color) {
  @return var(--color-#{$color});
}
