$color-white: #fff;
$color-black: #000;

$color-gray-300: #edf3f8;
$color-gray-500: #d5e0e6;
$color-gray-700: #4f5861;

$color-red-500: #851c02;
$color-green-500: #59be06;
$color-blue-500: #1282e9;

$color-blue-dark: #123c69;
$color-bisque: #fff5f1;
$color-bisque-dark: #faeae2;
$color-pink: #ac3b61;

@function color($color) {
  @return var(--color-#{$color});
}
