:root {
  // Common spacings
  --spacing-100: 2px;
  --spacing-200: 4px;
  --spacing-300: 8px;
  --spacing-400: 16px;
  --spacing-500: 24px;
  --spacing-600: 32px;
  --spacing-700: 48px;
  --spacing-800: 64px;
  --spacing-900: 86px;
}

@function spacing($sp) {
  @return var(--spacing-#{$sp});
}
