@use 'media';

:root {
  // Font-weight
  --typo-fw-light: 300;
  --typo-fw-regular: 400;
  --typo-fw-medium: 500;
  --typo-fw-bold: 700;

  // Font-size
  --typo-fs-h100: 12px;
  --typo-fs-h200: 14px;
  --typo-fs-h300: 18px;
  --typo-fs-h400: 20px;
  --typo-fs-h500: 24px;
  --typo-fs-h600: 32px;
  --typo-fs-h700: 40px;
  --typo-fs-h800: 98px;

  // Line-height
  --typo-lh-h100: 16px;
  --typo-lh-h200: 20px;
  --typo-lh-h300: 28px;
  --typo-lh-h400: 32px;
  --typo-lh-h500: 32px;
  --typo-lh-h600: 48px;
  --typo-lh-h700: 64px;
  --typo-lh-h800: 128px;
}

@mixin typo-lh($line-height) {
  line-height: var(--typo-lh-#{$line-height});
}

@mixin typo-fs($size) {
  font-size: var(--typo-fs-#{$size});
}

@mixin typo-fw($weight) {
  font-weight: var(--typo-fw-#{$weight});
}

@mixin typo($size, $weight: '') {
  @include typo-fs($size);
  @include typo-lh($size);

  @if ($weight != '') {
    @include typo-fw($weight);
  }
}
