@import 'media';
@import 'typo';
@import 'colors';
@import 'spacing';

// stylelint-disable value-keyword-case
$app-font-family: 'Lato', Arial, sans-serif;

@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin aspect-ratio() {
  @include clearfix;

  position: relative;
  display: block;

  &::before {
    content: "";
    width: 0.1rem;
    margin-left: -0.1rem;
    float: left;
    height: 0;
    padding-top: calc(100% / var(--ratio));
  }
}

@mixin scrollbar() {
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    background-color: color(scrollbar-bg);
    width: 0.2rem;
    height: 0.2rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: color(scrollbar-thumb);
  }
}

@mixin link {
  @include typo(h300, medium);

  text-decoration: none;
  color: color(text-link);
}
